.favourites-page {
    background-color: $black;
    display: flex;
    justify-content: center;
}

.favourites-p {
    color: white;
    font-family: $bodyFont;
    font-size: 0.9em;
    margin: 0;
    height: 100vh;
    padding: 70px 30px 0px 30px;
    display: flex;
    justify-content: center;
}

.title-link {
    text-decoration: none;
    color: $lightGreen;
}

.btn-div {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px;
    color: $lightGreen;
    background-color: $lightGreen;
    width: 100px;
    border: none;
    margin-top: 15px;
}

button a {
    text-decoration: none;
    color: $black;
    font-size: 14px;
}

.fav-h3 {
    margin-bottom: 5px;
    color: $black;
    margin-top: 5px;
}

.fav-p {
    margin: 5px;
    color: white;
}

.grid-content {
    display: flex;
    justify-content: center;
}

.rating {
    margin-left: 0;
    margin-right: 30px;
}

.release {
    margin-left: 30px;
    margin-right: 50px;
}

.movie-container {
    margin-top: 30px;
    background-color: $darkGray;
    padding: 40px 20px;
    max-width: 385px;
    min-height: 641.16px;
}

.fav-overview {
    color: white;
}

.more {
    text-decoration: none;
    color: $lightGreen;
    font-size: 14.4px;
}