.favourites-page {
    background-color: $black;
    display: flex;
    justify-content: center;
}

.fav-navbar{
    background-color: $black;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
}

.fav-ul{
    
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 15px 15px 0 15px;
    padding-top: 20px;
    padding-left: 0;
    max-width: 385px;
    margin: 0 auto;
    font-family: $headingFont;
}

.fav-li{
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
}

.fav-li a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: $lightGreen;
    border: $lightGreen 1px solid;
    padding: 10px;
}

.favourites-p {
    color: white;
    font-family: $bodyFont;
    font-size: 0.9em;
    margin: 0;
    height: 100vh;
    padding: 70px 30px 0px 30px;
    display: flex;
    justify-content: center;
}

.title-link {
    text-decoration: none;
    color: $lightGreen;
}

.btn-div {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px;
    color: $lightGreen;
    background-color: $lightGreen;
    width: 100px;
    border: none;
    margin-top: 15px;
}

button a {
    text-decoration: none;
    color: $black;
    font-size: 14px;
}

.fav-h3 {
    margin-bottom: 5px;
    color: $black;
    margin-top: 5px;
}

.fav-p {
    margin: 5px;
    color: white;
}

.grid-content {
    display: flex;
    justify-content: center;
}

.rating {
    margin-left: 0;
    margin-right: 30px;
}

.release {
    margin-left: 30px;
    margin-right: 50px;
}

.movie-container {
    margin-top: 30px;
    background-color: $darkGray;
    padding: 40px 20px;
    max-width: 385px;
    min-height: 641.16px;

        .rem-fav{
            display: flex;
            justify-content: center;
            
            margin-bottom: 30px;
        
         .remove-fav {
            
            cursor: pointer;
            text-decoration: none;
            color: $lightGreen;
            font-size: 14.4px;
            background-color: $black;
        }
    }
}

.fav-overview {
    color: white;
}

.more {
    text-decoration: none;
    color: $lightGreen;
    font-size: 14.4px;
}

@media only screen and (min-width: 700px){

    // .fav-ul{
    //     display: flex;
    //     justify-content: flex-end;
    // }


    .fav-li a{
       font-size: 1.3rem;
    }
}

@media only screen and (min-width: 740px) {

    .fav-nav-flex {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
    }

    .fav-navbar {
        display: flex;
        padding-top: 0px;
        margin: 15px 15px 0 15px;
        padding-top: 20px;
        padding-left: 0;
        min-width: 590px;
        text-align: right;
    }

    .fav-ul {
        padding-top: 10px;
    }
}