
header{
    background-color: $darkGray;
    font-family: $headingFont;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.logo {
    padding-bottom: 20px;
    max-width: 1000px;
}

.logo h1{
    display: inline-block;
    margin: 15px;
    padding: 20px;
    color: white;
    position: relative;
    padding-bottom: 5px;
    font-size: 2rem;
}

.logo h1:before{
    content: "";
    position: absolute;
    width: 38%;
    height: 1px;
    bottom: 0;
    //left: 25%;
    border-bottom: 3px solid $lightGreen;  
}


@media only screen and (min-width: 700px){

    .logo h1{
        display: inline-block;
        padding: 20px;
        color: white;
        position: relative;
        padding-bottom: 5px;
        font-size: 2.7rem;
    }

}