header{
    background-color: $black;
    font-family: $headingFont;
}

.navbar{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
}

li{
    list-style: none;
    text-decoration: none;
}

li a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: $lightGreen;
    border: $lightGreen 1px solid;
    padding: 5px;
}

