main{
    background-color: $black;
    
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
    color: $lightGray;
    font-family: $bodyFont;
    justify-items: center;

    
    
        img {
            margin-left: auto;
            margin-right: auto;
        }
    
        h2, h3{
            
            color: $lightGreen;
            text-align: center;
            font-size: 1.1rem;
        }

        p {
            
            text-align: left;
            font-size: 0.9rem;
            color: white;
        }

        

        img, h2, h3, p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }

        h2 a {
            color: $lightGreen;
        }

        a {
            text-decoration: none;
            color: $black;
            transition: all 1s ease;

            &:hover {
                color: white;
            }
        }
}

form {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    margin: 15px 15px 0 15px;
    padding-top: 20px;
    padding-left: 0;
    max-width: 385px;
    margin: 0 auto;
    text-align: right;
}

label {
    font-size: 1.4em;
    font-family: $headingFont;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

option, select{
    -webkit-appearance: none;
    font-family: $headingFont;
    background-color: $lightGreen;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    padding-left: 10px;
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 0px;
}

.home-navbar{
    background-color: $black;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
}

.home-ul{
    
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 15px 15px 0 15px;
    padding-top: 20px;
    padding-left: 0;
    max-width: 385px;
    margin: 0 auto;
    font-family: $headingFont;
}

.home-li{
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
}

.home-li a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: $lightGreen;
    border: $lightGreen 1px solid;
    padding: 10px;
}

@media only screen and (min-width: 700px){

    .home-ul{
        display: flex;
        justify-content: flex-end;
    }


    .home-li a{
       font-size: 1.3rem;
       
    }

    option, select{
        font-size: 1.3rem;
        height: 40px;
        width: 165px;
    }

    form {
        align-items: center;
    }
}

@media only screen and (min-width: 740px) {

    .nav-flex {
        display: flex;
        flex-grow: 2;
        justify-content: center;
    }

    .home-navbar {
        display: flex;
        padding-top: 0px;
        margin: 15px 15px 0 15px;
        padding-top: 20px;
        padding-left: 0;
        max-width: 385px;
        margin: 0 auto;
        text-align: right;
    }

    .home-ul {
        padding-top: 10px;
    }

    .movie-grid{
        grid-template-columns: repeat(2,1fr);
        padding-top: 2%;
    }

}

@media only screen and (min-width: 1200px) {
    .movie-grid{
        grid-template-columns: repeat(3,1fr)
    }

}



