main{
    background-color: $black;
}

form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
}

label {
    font-size: 1em;
    font-family: $bodyFont;
    color: white;
}

option, select{
    -webkit-appearance: none;
    font-family: $bodyFont;
    background-color: $lightBlue;
    color: $black;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    width: 100%;
    border-radius: 5px;
    outline: none;
    max-width: 385px;
}

@media (min-width: 600px) {
    option, select {
        max-width: 100%;
    }

    form {
        justify-content: flex-start;
    }
}

@media (min-width: 740px) {
    form {
        width: 100%;
    }

    .nav-flex {
        justify-content: flex-start;
    }
}

@media (min-width: 900px) {
    form {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    form {
        padding-bottom: 0;
    }
}


