main{
    background-color: $black;
    
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
    color: $lightGray;
    font-family: $bodyFont;
    //align-items: center;
    justify-items: center;

    
    
        img {
            
            margin-left: auto;
            margin-right: auto;
            //width: 50%;
        }
    
        h2, h3{
            
            color: $lightGreen;
            text-align: center;
            font-size: 1.1rem;
        }

        p {
            
            text-align: center;
            font-size: 0.9rem;
        }

        

        img, h2, h3, p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
}

label {
    font-size: 1rem;
    font-family: $headingFont;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

option, select{
    font-family: $bodyFont;
    background-color: $lightGreen;
    color: $black;
}


@media only screen and (min-width: 550px) {
    .movie-grid{
        grid-template-columns: repeat(2,1fr)
    }

}

@media only screen and (min-width: 900px) {
    .movie-grid{
        grid-template-columns: repeat(4,1fr)
    }
    
    
}




