.im-page {
    display: flex;
    justify-content: center;
    background-color: $black;
    padding: 40px 10px 0px 10px;
}

.movie-info-container {
    background-color: $lightGray;
    margin: 15px;
    width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px; 
}

.im-title {
    color: white;
    font-family: $headingFont;
    font-size: 2em;
}

.poster-container {
    display: flex;
    justify-content: center;
}

.poster-container img {
    padding-left: 30px;
    padding-right: 30px;
}

.im-movie-text {
    margin: 30px;
}

.im-movie-text h3 {
    font-family: $headingFont;
    font-size: 1.1em;
    color: $lightGreen;
    margin-bottom: 10px;
}

.im-movie-text p {
    font-family: $bodyFont;
    font-size: 0.9em;
    color: white;
    margin: 0;
}

.movie-text-flex {
    display: flex;
}

.rating {
    margin-left: 50px;
}

.heart-shape{
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: $lightGreen;
    margin-right: 15px;
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: $lightGreen;
  }
  .heart-shape:before{
    bottom: 0px;
    left: -10px;
  }
  .heart-shape:after{
    top: -10px;
    right: 0px;
  }

  .fav-container {
      background-color: transparent;
      display: flex;
      justify-content: center;
      border: 1px solid white;
      padding: 25px 30px;
      color: none;
      width: 100%;
      cursor: pointer;

  //     &:active{
  //       display: flex;
  //       justify-content: center;
  //       border: 1px solid white;
  //       padding: 25px 30px;
  //       color: none;
  //       width: 100%;
  //       cursor: pointer;
  //         p{
  //           color: $darkGray;
  //         }
  //     }
  }

  .fav-active {
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 25px 30px;
    color: none;
    width: 100%;
    cursor: pointer;
      p{
        color: $darkGray;
      }
  }

  .fav-container p {
    line-height: 13px;
    font-size: 0.9em;
  }

  @media (min-width: 700px) {

    .im-movie-text {
        max-width: 600px;
    }

    .poster-lower-half {
        display: flex;
        justify-content: center;
    }

  }