.movie-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
    color: $lightGray;
    font-family: $bodyFont;
    justify-items: center;

    
    
        img {
            margin-left: auto;
            margin-right: auto;
        }
    
        h2, h3{
            
            color: $lightGreen;
            text-align: center;
            font-size: 1.1rem;
        }

        p {
            
            text-align: left;
            font-size: 0.9rem;
            color: white;
        }

        

        img, h2, h3, p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }

        h2 a {
            color: $lightGreen;
        }

        a {
            text-decoration: none;
            color: $black;
            transition: all 1s ease;

            &:hover {
                color: white;
            }
        }
}

.title-link {
    text-decoration: none;
    color: $lightGreen;
}

.btn-div {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px;
    color: $lightGreen;
    background-color: $lightGreen;
    width: 100px;
    border: none;
    margin-top: 15px;
}

button a {
    text-decoration: none;
    color: $black;
    font-size: 14px;
}

.grid-content {
    display: flex;
    justify-content: center;
}

.rating {
    margin-left: 0;
    margin-right: 30px;
}

.release {
    margin-left: 30px;
    margin-right: 50px;
}

.movie-container, .fav-movie-container {
    margin-top: 30px;
    background-color: $darkGray;
    padding: 40px 20px;
    max-width: 385px;
    min-height: 641.16px;

        .rem-fav{
            display: flex;
            justify-content: center;
            
            margin-bottom: 30px;
        
         .remove-fav {
            
            cursor: pointer;
            text-decoration: none;
            color: $lightGreen;
            font-size: 14.4px;
            background-color: $black;
        }
    }
}

.fav-overview {
    color: white;
}

.more {
    text-decoration: none;
    color: $lightGreen;
    font-size: 14.4px;
}

@media only screen and (min-width: 740px) {

    .movie-grid{
        grid-template-columns: repeat(2,1fr);
        padding-top: 2%;
    }

    .movie-container {
        height: 850px;
    }

}

@media only screen and (min-width: 865px) {

    .fav-movie-container {
        min-height: 740px;
    }

}



@media only screen and (min-width: 1200px) {
    .movie-grid{
        grid-template-columns: repeat(3,1fr)
    }

}