.movie-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    color: $lightGray;
    font-family: $bodyFont;
    justify-items: center;
    padding-bottom: 30px;

    
    
        img {
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
        }
    
        h2, h3{
            color: white;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }

        p {
            
            text-align: left;
            font-size: 1em;
            color: white;
        }

        

        img, h2, h3, p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }

        h2 a {
            color: $lightBlue;
        }

        a {
            text-decoration: none;
            color: $black;
            transition: all 1s ease;

            &:hover {
                color: white;
            }
        }
}

.title-link {
    text-decoration: none;
    color: $lightBlue;
}

a.btn-more-info {
    margin-top: 15px;
    width: 100%;
    background-color: $lightBlue;
    text-align: center;
    font-family: $bodyFont;
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 5px;
}

.rating {
    display: flex;
    align-items: center;

    svg path {
        fill: $lightBlue;
    }

    p {
        font-size: 1.1em;
        margin: 0;
        margin-left: 10px;
        color: $lightBlue;
    }
}

.release {
    display: flex;

    p {
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.movie-grid p {
    display: block;
}

.movie-container, .fav-movie-container {
    margin-top: 0;
    background-color: $darkGray;
    background-image: url('/images/webb-dark.png');
    background-size: contain;
    padding: 30px;
    max-width: 385px;
    min-height: 641.16px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $lightBlue;
}

.fav-overview {
    color: white;
    margin: 30px 0;
}

.more {
    text-decoration: none;
    color: $lightBlue;
    font-size: 14.4px;
}

@media only screen and (min-width: 600px) {

    .movie-grid{
        grid-template-columns: repeat(2,1fr);
        padding-top: 2%;

        h2 {
            min-height: 62px;
        }
    }

    .movie-container {
        min-height: 750px;
    }

    .fav-overview {
        min-height: 88px;
    }

}

@media only screen and (min-width: 850px) {
    .movie-grid{
        grid-template-columns: repeat(3,1fr)
    }

}

@media only screen and (min-width: 1300px) {
    .movie-grid{
        grid-template-columns: repeat(4,1fr);
    }

}

@media only screen and (min-width: 1750px) {
    .movie-grid{
        grid-template-columns: repeat(5,1fr);
    }

}