.page-navbar{
    background-color: $black;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
}

.page-nav-ul{
    
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 15px 15px 0 15px;
    padding-top: 20px;
    padding-left: 0;
    max-width: 385px;
    margin: 0 auto;
    font-family: $headingFont;
}

.page-nav-li{
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
}

.page-nav-li a{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: $lightGreen;
    border: $lightGreen 1px solid;
    padding: 10px;
}

@media only screen and (min-width: 700px){

    .page-nav-li a{
       font-size: 1.3rem;
    }
}

@media only screen and (min-width: 740px) {

    .page-nav-flex {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
    }

    .page-navbar {
        display: flex;
        padding-top: 0px;
        margin: 15px 15px 0 15px;
        padding-top: 20px;
        padding-left: 0;
        min-width: 590px;
        text-align: right;
    }

    .page-nav-ul {
        padding-top: 10px;
    }
}