// App Style Settings

// Colors
$black: #222629;
$lightGreen: #86C232;

// Optional Colors
$darkGray: #474b4f;
$lightGray: #6b6e70;

// Type
$bodyFont: 'Noto Sans', sans-serif;
$headingFont: 'Noto Sans', sans-serif;